body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
header {
  text-align: center;
  border-bottom: 7px solid #007BFF;
  margin-bottom: 70px;
  padding-bottom: 10px;
}
header h1 {
  margin: 56
  color: #007BFF;
}
.section {
  margin-bottom: 50px;
}

h2 {
  color: #007BFF;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
ul {
  list-style-type: disc;
  padding-left: 50px;
}

h4 {
  margin: 25px 0;
}
